:root {
    --branding-color: #6C63FF;
    --secondary-color: #F9F7FE;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 63px;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
}


.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 0;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: #F9F7FE;
    padding: 18px 46px;
    font-size: 18px;
    line-height: 27px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border-radius: 4px;
    border: 1px solid var(--branding-color);
    padding: 18px 46px;
    font-size: 18px;
    line-height: 27px;
}

.project-description {
    padding: 80px 60px;
}

@media(max-width:900px) {
    .project-description {
        padding: 10px;
        text-align: center;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 42px;
    }

    .hero {
        padding: 80px 20px;
    }
}